body{
    margin: 0;
    
}
.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 75%;
    height: 65%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.removeBtn {
    background-color: red;
}

.removeBtn:hover {
    background-color: rgb(200, 0, 0);
}

h2 {
    color: #333;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select,
input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    width: 80%;
    box-sizing: border-box;
}

select {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.createContainer{
    width: 65%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    border-right: 1px solid lightgray;
}

.manageContainer{
    width: 35%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.categories{
    height: 6rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.tasks{
    display: flex;
    height: 6rem;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;

}

.tasksList {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.categoriesList{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 5px;
}

.editBtn{
    margin-left: 5px;
}

.taskBtns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
        border: 1px solid lightgray;
    }

    .createContainer {
        width: 100%;
        border-right: none;
    }

    .manageContainer {
        width: 100%;
        border-top: 1px solid lightgray;
    }

    select,
    input[type="text"] {
        width: 100%;
    }

    .tasksList,
    .categoriesList {
        width: 100%;
        border: 1px solid lightgray;
    }

}